
* {
    font-size: 1em;      
    font-weight: bold;
    text-align: left;    
    color: inherit;       
    font-family: inherit;  
    border: none;         
    background: transparent;
    outline: none;
}

h2 {
    font-size: 1.5em;
}

input {
    padding:0;
    margin:0;
}

body {
    display: flex;
}

.section-title {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    gap: 30px;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 30px;
}

.dates {
    display: flex;
    padding: 0;
    gap: 10px;
}

.dates input {
    width: fit-content;
}

button {
    height: fit-content;
}