
* {
    font-size: 1em;
    text-align: center;      
    font-weight: bold;    
    color: inherit;       
    font-family: inherit;  
    border: none;         
    background: transparent;
    outline: none;
}
